.bloco-itens-main {
    display: block;
    width: 99%;
    padding: 0;
    margin: 0 auto;
    box-shadow: 0px 0px 10px black;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 3px;
}

.bloco-itens-list {
    position: relative;
}

.bloco-item-aparelho {
    position: relative;
    background-color: #0984e3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    border-radius: 5px;
    width: auto;
    height: auto;
    padding: 2px;
    box-shadow: 2px 2px 4px #000;
}

.aparelho-detalhe {
    display: block;
    position: relative;
    margin: 1px 6px;
}

.itens-atributes {
    background-color: white;
    border-radius: 5px;
    padding: 1px;
    color: black;
    margin-top: 2px;
    min-height: 28px;
    margin-bottom: 1px !important;
}

.label-inputs {
    color: white;
    word-break: keep-all;
    white-space: nowrap;
    margin: 1px;
    text-transform: uppercase;
    font-size: 1em;
}

.action-editar {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    visibility: visible;
    padding: 0px;
    cursor: pointer;
    margin: 2px 10px;
    border-radius: 5px;
}
.action-delete {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;
    padding: 0px;
    cursor: pointer;
    margin: 2px 10px;
    border-radius: 5px;
}

.action-editar p {
    color: #ffffff;
    font-size: 1.1em;
    font-weight: 500;
    margin: 0;
    padding: 5px;
    background-color: #377e25;
    border-radius: 5px;
}

.action-delete p {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1.1em;
    margin: 0;
    padding: 5px;
    background-color: #ff0000;
    border-radius: 5px;
}

.bloco-itens-actions {
    background-color: transparent;
    display: block;
    width: 100%;
}

.action-add {
    background-color: var(--quaternary);
    border-radius: 10px;
    display: block;
    height: auto;
    max-width: 200px;
    cursor: pointer;
    padding: 10px;
    margin: 10px auto;
    box-shadow: 2px 2px 4px #000;
}

.action-text {
    text-align: center;
    color: white;
    margin: 0;
    font-size: 1.1em;
    font-weight: 700;
}

.action-calcular {
    height: auto;
    max-width: 200px;
    border-radius: 10px;
    color: #ffffff;
    background-color: var(--tertiary);
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
    padding: 15px 10px;
    margin: 10px auto;
    box-shadow: 2px 2px 4px #000;
}

.seletor-aparelhos {
    text-transform: capitalize;
    font-size: 0.8em;
    width: 100%;
}

#piechart {
    display: block;
    margin: 5px auto;
    width: 99%;
    padding: 2px;
    overflow: scroll;
    background-color: rgba(27, 45, 81, 0.0);
    border: 2px solid rgba(27, 45, 81, 1);
    border-radius: 5px;
    visibility: hidden;
}

#tablechart {
    display: block;
    margin: 5px auto;
    width: 99%;
    padding: 2px;
    background-color: rgba(27, 45, 81, 0.0);
    border: 2px solid rgba(27, 45, 81, 1);
    border-radius: 5px;
    visibility: hidden;
}

.bloco-valores-totais {
    display: block;
    margin: 10px auto;
    text-align: center;
    background-color: #0984e3;
    padding: 10px;
    color: white;
    font-size: 1em;
    font-weight: 700;
}

.valores-totais {
    margin: 0 auto;
    background-color: white;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 5px;
    color: black;
}

.linhas-divisorias {
    height: 3px;
    background-color: black;
}

#bloco-popup {
    display: none;
    position: fixed;
    background-color: #00000050;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: hidden;
}

#bloco-new-item {
    display: block;
    position: relative;
    background-color: #0984e3;
    max-width: 300px;
    height: auto;
    margin: 30px auto;
    padding-top: 30px;
    border-radius: 10px;
}
#bloco-info {
    display: flex;
    padding: 10px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

#bloco-fechar {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #ffffff;
    color: #ff0000;
    font-weight: 900;
}

#bloco-adicionar {
    display: block;
    position: relative;
    width: 100%;
    height: 30px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #2bff00;
    color: #000000;
    font-weight: 400;
    margin: 5px 0;
}

.itens-atributes-pop {
    background-color: white;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 1px;
    color: black;
    margin-bottom: 2px;
    padding: 0px 1px;
}

.label-inputs-pop{
    margin: 0;
    color: #ffffff;
}
.tabela-titulo {
    color: #000;
    font-weight: 600;
    text-align: center;
}
.tabela-celula {
    color: #000;
    font-weight: 600;
    text-align: right;
}

.tabela-linha {
    background-color: #e9e7e7;
}

@media screen and (max-width: 767px) {
    .item-input p {
        font-size: 0.7em;
    }
    .action-delete p {
        font-size: 1.2em;
    }
    .seletor-aparelhos {
        font-size: 0.7em;
    }
    .bloco-item-aparelho {
        justify-content: flex-start;
    }
}