

<!-- Footer Start -->
<div class="container-fluid cor-fundo-1 text-light footer mt-5 pt-5 wow fadeIn darkMode" data-wow-delay="0.1s">
    <div class="container py-5 px-lg-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-6">
                <h5 class="text-white mb-4">Localização</h5>
                <p><i class="fa fa-map-marker-alt me-3"></i>Polo de Araçatuba</p>
                <p><i class="fa fa-map-marker-alt me-3"></i>Polo de Barueri</p>
                <p><i class="fa fa-map-marker-alt me-3"></i>Polo de São Paulo - Campo Limpo</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <h5 class="text-white mb-4">Mais Informações</h5>
                <a class="btn btn-link" href="{% url 'principal:sobre' %}">Sobre nós</a>
            </div>
        </div>
    </div>
    <div class="container px-lg-5">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">Projeto Integrador II - UNIVESP - SP</a>
                    <a class="border-bottom" href="#">2022</a>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu">
                        <a href="{% url 'principal:index' %}">Início</a>
                        <a href="{% url 'principal:sobre' %}">Ajuda</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->